<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
    <head>
        <meta charset="UTF-8">
        <title th:text="${blog.title}">blog</title>
        <!-- jQuery文件-->
        <script src="https://cdn.staticfile.org/jquery/2.1.1/jquery.min.js"></script>
        <link rel="stylesheet" th:href="@{/blog/editormd/css/examples/style.css}" />
        <link rel="stylesheet" th:href="@{/blog/editormd/css/editormd.css}" />
        <meta name="viewport" content="width=device-width, initial-scale=1.0, shrink-to-fit=no">
        <meta name="description" content="I feel it's the key way to keep moving forward">
        <link rel="stylesheet" href="https://paramaki-1258623568.cos.ap-guangzhou.myqcloud.com/boot/blog/assets/bootstrap/css/bootstrap.min.css">
        <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Open+Sans:300italic,400italic,600italic,700italic,800italic,400,300,600,700,800">
        <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Lora:400,700,400italic,700italic">
        <link rel="stylesheet" href="https://paramaki-1258623568.cos.ap-guangzhou.myqcloud.com/boot/blog/assets/fonts/font-awesome.min.css">
    </head>
    <body>
        <nav class="navbar navbar-light navbar-expand-lg fixed-top" id="mainNav">
            <div class="container"><a class="navbar-brand" th:href="@{/blog/toMain}">Param</a><button data-bs-toggle="collapse" data-bs-target="#navbarResponsive" class="navbar-toggler" aria-controls="navbarResponsive" aria-expanded="false" aria-label="Toggle navigation"><i class="fa fa-bars"></i></button>
                <div class="collapse navbar-collapse" id="navbarResponsive">
                    <ul class="navbar-nav ms-auto">
                        <li class="nav-item"><a class="nav-link" th:href="@{/blog/toMain}">Home</a></li>
                        <li class="nav-item"><a class="nav-link" th:href="@{/blog/toAbout}">About us</a></li>
                        <li class="nav-item"><a class="nav-link" th:href="@{/blog/toContact}">Contact us</a></li>
                        <li class="nav-item"><a class="nav-link" th:href="@{/blog/toPost}">Blog Post</a></li>
                        <li class="nav-item"><a class="nav-link" th:href="@{/blog/toEdit}">新建Blog</a></li>
                        <li class="nav-item"><a class="nav-link" th:href="@{/user/logout}">登出账号</a></li>
                    </ul>
                </div>
            </div>
        </nav>
        <header class="masthead" style="background-image:url(https://paramaki-1258623568.cos.ap-guangzhou.myqcloud.com/boot/blog/assets/img/home-bg.jpg);">
            <div class="overlay"></div>
            <div class="container">
                <div class="row">
                    <div class="col-md-10 col-lg-8 mx-auto position-relative">
                        <div class="site-heading">
                            <h1 th:text="${blog.title}">Clean Blog</h1>by<span class="subheading" th:text="${blog.author}">A Blog Theme by Start Bootstrap</span>
                        </div>
                    </div>
                </div>
            </div>
        </header>

        <!--下面是markdown内容-->
        <div id="layout">
            <header>
<!--                <h1 th:text="${blog.title}"></h1>-->
<!--                <h2 th:text="${blog.author}"></h2>-->
            </header>
            <div id="test-editormd">
                <textarea style="display:none;" th:text="${blog.content}"></textarea>
            </div>
        </div>
        <script th:src="@{/blog/editormd/lib/marked.min.js}"></script>
        <script th:src="@{/blog/editormd/lib/prettify.min.js}"></script>
        <script th:src="@{/blog/editormd/lib/raphael.min.js}"></script>
        <script th:src="@{/blog/editormd/lib/underscore.min.js}"></script>
        <script th:src="@{/blog/editormd/lib/sequence-diagram.min.js}"></script>
        <script th:src="@{/blog/editormd/lib/flowchart.min.js}"></script>
        <script th:src="@{/blog/editormd/lib/jquery.flowchart.min.js}"></script>
        <script th:src="@{/blog/editormd/editormd.min.js}"></script>
        <script type="text/javascript">

            var testEditor;

            $(function () {
                testEditor = editormd.markdownToHTML("test-editormd", {
                    width: "90%",
                    height: 700,
                    path: "/blog/editormd/lib/",
                    preview: true,
                    watch: true,
                    editor: false,
                })
            })

        </script>
    </body>
</html>
