<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
    <head>
        <meta charset="UTF-8">
        <title>博客</title>
        <!-- jQuery文件-->
        <script src="https://cdn.staticfile.org/jquery/2.1.1/jquery.min.js"></script>
        <link rel="stylesheet" th:href="@{/blog/editormd/css/examples/style.css}" />
        <link rel="stylesheet" th:href="@{/blog/editormd/css/editormd.css}" />
<!--        <link rel="shortcut icon" href="https://pandao.github.io/editor.md/favicon.ico" type="image/x-icon" />-->
    </head>
    <body>

        <div id="layout">
            <header>
                <h1 th:text="${blog.title}"></h1>
                <h2 th:text="${blog.author}"></h2>
            </header>
            <div id="test-editormd">
                <textarea style="display:none;" th:text="${blog.content}"></textarea>
            </div>
        </div>

<!--        一个JS文件都不能少，少一个便无法渲染。注意静态资源路径问题-->
<!--        <script th:src="@{/js/examples/jquery.min.js}"></script>-->
        <script th:src="@{/blog/editormd/lib/marked.min.js}"></script>
        <script th:src="@{/blog/editormd/lib/prettify.min.js}"></script>
        <script th:src="@{/blog/editormd/lib/raphael.min.js}"></script>
        <script th:src="@{/blog/editormd/lib/underscore.min.js}"></script>
        <script th:src="@{/blog/editormd/lib/sequence-diagram.min.js}"></script>
        <script th:src="@{/blog/editormd/lib/flowchart.min.js}"></script>
        <script th:src="@{/blog/editormd/lib/jquery.flowchart.min.js}"></script>
        <script th:src="@{/blog/editormd/editormd.min.js}"></script>
        <script type="text/javascript">

            var testEditor;

            $(function () {
                testEditor = editormd.markdownToHTML("test-editormd", {
                    width: "90%",
                    height: 700,
                    path: "/blog/editormd/lib/",
                    preview: true,
                    watch: true,
                    editor: false,
                })
            })

        </script>
    </body>
</html>
