<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
    <head>
        <!-- jQuery文件-->
        <script src="https://cdn.staticfile.org/jquery/2.1.1/jquery.min.js"></script>
        <!--引入markdown博客编辑-->
        <link rel="stylesheet"
              href="https://paramaki-1258623568.cos.ap-guangzhou.myqcloud.com/boot/blog/editor.md-1.5.0/css/editormd.min.css"
              th:href="@{/blog/editormd/css/editormd.min.css}">

        <script src="https://paramaki-1258623568.cos.ap-guangzhou.myqcloud.com/boot/blog/editor.md-1.5.0/editormd.min.js"
                th:src="@{/blog/editormd/editormd.min.js}"></script>
    </head>
    <body>
        <div class="required field">
            <!--引入markdown-->
            <div id="md-content" style=" z-index: 1 !important;">
                <textarea placeholder="博客内容" name="content" id="content" style="display:none;" th:utext="${content}">
                </textarea>
            </div>
        </div>
        <script>
            // 初始化MarkDown编辑器
            var contentEditor;
            $(function () {
                contentEditor = editormd("md-content", {
                    width: "100%",
                    height: 640,
                    syncScrolling: "single",
                    path: "/blog/editormd/lib/"     /*因为application.yml中配置了项目根路径为/blog，所以要加上才能访问*/
                });
            });
        </script>
    </body>
</html>