<html xmlns:th="http://www.thymeleaf.org">
    <head>
        <title>Register</title>

        <link rel="stylesheet" href="https://paramaki-1258623568.cos.ap-guangzhou.myqcloud.com/boot/books/css/style.css"/>
        <style>
            /*去除input中style为number时的上下键*/
            input::-webkit-outer-spin-button,
            input::-webkit-inner-spin-button {
                -webkit-appearance: none !important;
                margin: 0;
            }
        </style>
    </head>
    <body>
        <div class="box">
            <h1>注册</h1>
            <form th:action="@{/user/register}" method="post">
                <label th:text="${errorMsg}" style="color: red"></label>
                <div class="inputBox">
                    <input type="number" name="userID" required>
                    <label>请输入账号</label>
                </div>
                <div class="inputBox">
                    <input type="email" name="userEmail" required>
                    <label>请输入邮箱</label>
                </div>
                <div class="inputBox">
                    <input type="text" name="username" required>
                    <label>请输入昵称</label>
                </div>
                <div class="inputBox">
                    <input type="password" name="password" required>
                    <label>请输入密码</label>
                </div>
                <input type="submit" value="注册并返回登录界面">
            </form>
        </div>
    </body>
</html>