<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Config 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.param.bootbooks.mapper.CityMapper">

    <insert id="addCity" parameterType="com.param.bootbooks.pojo.City">
        insert into ssmbuild.city(name, state, country)
        values (#{name}, #{state}, #{country});
    </insert>

</mapper>