<html xmlns:th="http://www.thymeleaf.org">
    <head>
        <title>修改书籍</title>

        <!-- Bootstrap 核心 CSS 文件 -->
        <link href="https://cdn.staticfile.org/twitter-bootstrap/3.3.7/css/bootstrap.min.css" rel="stylesheet">

    </head>
    <body>
        <div class="container">
            <div class="clearfix">
                <div class="col-md-12 column">
                    <div class="page-header" style="text-align: center;">
                        <h1>
                            <small>修改书籍</small>
                        </h1>
                    </div>
                </div>
            </div>

            <div class="col-md-12 column">
                <div class="col-md-4 column"></div>
                <div class="col-md-4 column">
                    <form th:action="@{/book/update}" method="post">
                        <input type="hidden" name="bookID" class="form-control" value="${QBook.bookID}">
                        <div class="form-group">
                            <label>书籍名称</label>
                            <input type="text" name="bookName" class="form-control" th:value="${QBook.bookName}" required>
                        </div>
                        <div class="form-group">
                            <label>书籍数量</label>
                            <input type="text" name="bookCounts" class="form-control" th:value="${QBook.bookCounts}" required>
                        </div>
                        <div class="form-group">
                            <label>书籍描述</label>
                            <input type="text" name="detail" class="form-control" th:value="${QBook.detail}" required>
                        </div>
                        <div class="form-group">
                            <input type="submit" class="form-control btn btn-info" th:value="修改">
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </body>
</html>
